#port .card
{
    background:darkslategray;
    padding: 20px;
    transition: padding 1s ease;}

#port .card:hover{
              padding: 50px;
          }

#about .card{margin: 20px}
     #about .card-title{
         background:#5bc0de;
         margin:10px;
         transition: padding 1s ease;
}
         #about .card-title:hover
            {
              padding: 15px;
              }
